.header-box1 {

    &__images{
        height: 200px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: 0px;

    }

    &__h1-text1 {
        position: absolute;
        left: 230px;
        top: 174px;
        font-weight: 700;
        color: white;
    }

}